@model Usuario
@{
    ViewData["Title"] = "Perfil de usuario";
}

<h2>Perfil de usuario</h2>

<table class="table">
    <tr>
        <th>Nombre de usuario</th>
        <td>@Model.NombreUsuario</td>
    </tr>
    <tr>
        <th>Correo</th>
        <td>@Model.Correo</td>
    </tr>
    <tr>
        <th>Nombre</th>
        <td>@Model.Nombre</td>
    <tr>
        <th>Teléfono</th>
        <td>@Model.Telefono</td>
    </tr>
   
</table>

<h3>Direcciones</h3>
@if (Model.Direccion.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Direcciones</th>
                <th>Ciudad</th>
                <th>Provincia</th>
                <th>Código postal</th>
            </tr>
        </thead>
        <tbody>
            @*Recorrer las direcciones de la bd*@
            @foreach(var direccion in Model.Direcciones)
            {
                <tr>
                    <td>@direccion.Address</td>
                    <td>@direccion.Ciudad</td>
                    <td>@direccion.Provincia</td>
                    <td>@direccion.CodigoPostal</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No existen direcciones disponibles</p>
    
}
<a asp-action="AgregarDireccion" class="btn btn-primary" asp-route-id="@Model.UsuarioId">Agregar dirección</a>